@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .main-clip {
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }

  .primary-gradient {
    @apply bg-gradient-to-br from-primaryLight to-primaryDark;
  }

  .secondary-gradient {
    @apply bg-gradient-to-br from-secondaryLight to-secondaryDark;
  }

  .tertiary-gradient {
    @apply bg-gradient-to-br from-tertiaryLight to-tertiaryDark;
  }

  .secondary-header {
    @apply text-4xl uppercase font-bold primary-gradient bg-clip-text text-transparent flex justify-center
    tracking-[0.2rem]
    transition-all duration-200
    hover:skew-x-12
    hover:skew-y-2
    hover:scale-110
    hover:drop-shadow-[0.5rem_1rem_2rem_rgba(0,0,0,0.2)];
  }

  .tertiary-header {
    @apply text-base font-bold uppercase;
  }

  .paragraph {
    @apply text-base;
  }

  .story-circle {
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
}



